/* styles.css */
.table-spacing {
  margin-bottom: 40px;
}

/* Estilos para a tabela de VendasWhats */
.table-vendas-whats {
  /* Adicione estilos específicos para a tabela VendasWhats aqui */
  /* Por exemplo: */
  width: 100px;
  height: 1000px;
}

/* Estilos para a tabela de VendasVideo */
.table-vendas-video {
  /* Adicione estilos específicos para a tabela VendasVideo aqui */
  /* Por exemplo: */
  width: 400px;
}

/* Estilos para a tabela de VendasTotal */
.table-vendas-total {
  /* Adicione estilos específicos para a tabela VendasTotal aqui */
  /* Por exemplo: */
  width: 350px;
}
